collapsable-nav {
	border: 1px solid black;
}
.nav-item {
	border-bottom: 1px solid black;
}

#chicken, #beef, #sushi {
	margin-bottom: 15px;
	height: 1000px;
	background-color: lightgray;
}

row {
	margin-bottom: 15px;
}

navbar-brand {
	font-weight: bold;
}

* {
	box-sizing: border-box;
}

section {
	border: solid 1px black;
}

.section-header {
	font-weight: bold;
}


